body {
    font-family: Arial, sans-serif;
    background-image: url('forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.25);
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 30px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

details {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

details[open] summary {
    background-color: #f5a66d;
}

summary {
    background-color: #f5a66d;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

p {
    padding: 10px 20px;
    background-color: #f2f2f2;
    margin: 0;
}

#map-interaction-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Factor Button Styles */
.factor-button {
    justify-content: space-between;
    width: 100px;
    margin: 10px;
    background-color: #f5a66d;
    color: white;
}

/* Slider Styles */
#year-slider-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#year-slider {
    width: 100%;
    margin-top: 20px;
}

.slider-text {
    font-size: xx-small;
}

#year-slider-labels {
    height: 10px;
    width: 100%;
}

/* Map Styles */
#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#graticules {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}

.graticule-line {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.5;
}

#countries>.country.selected {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#countries>.country {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: 0.1;
}

#countries>.country:hover {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

/* Map Legend Styles */
#map-legend-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
}

.legend-title-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#map-legend-title {
    align-self: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* font-size: 110%; */
}

#map-legend {
    height: 40px;
}

.legend-text {
    font-size: 50%;
    margin-bottom: 20px;
}

#tooltip {
    display: none;
    opacity: 0;
    width: 400px;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5a66d;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid black;
    width: 825px;
}

#modal-title {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Line Chart Styles */
#lines {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;   
}

.axis-label {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 5px;
    fill: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#y-axis-label {
    transform: rotate(-90deg);
    text-anchor: middle;
}

#line-chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#line-chart-legend {
    height: 50px;
    width: 165px;
    border: #000 solid 1px;
    padding: 5px;
    border-radius: 5px;
}

.line-chart-trendline {
    stroke: red;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}

.line-chart-line {
    stroke: black;
    stroke-width: 2px;
}

.line-chart-legend-text {
    font-size: 75%;
}
