body {
    font-family: Arial, sans-serif;
    /* background-image: url('path_to_forest_image.jpg');
    background-size: cover; */
    padding: 50px;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 30px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

details {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

summary {
    background-color: #f7a046;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

details[open] summary {
    background-color: #e9833a;
}

p {
    padding: 10px 20px;
    background-color: #f2f2f2;
    margin: 0;
}

#map {
    width: 100%;
    height: 450px;
}

#value {
    width: 800px;
    height: 500px;
}

/* Vis specific classes */
#countries>.country.selected {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#countries>.country {
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: 0.1;
}

#countries>.country:hover {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#graticules {
    fill: none;
    stroke: #000;
    stroke-width: 1;
}

.graticule-line {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.5;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 700px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#map-interaction-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-button {
    justify-content: space-between;
    width: 100px;
    background-color: aqua; /* Temp background color. Change this. */
    margin: 10px;
}

#year-slider {
    width: 100%;
    margin-top: 20px;
}

.slider-text {
    /* transform: rotate(-45deg); */
    font-size: xx-small;
}

#year-slider-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#year-slider-value {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

#legend-container {
    height: 60px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}

#legend-text {
    display: flex;
    justify-content: space-between;
}

.l-text {
    transform: rotate(-45deg);
    font-size: 5%;
    margin-bottom: 20px;
}